<div>
  <h1>Header</h1>
  <div class="container-fluid bg-dark">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link">About</a></li>
      </ul>
    </header>
  </div>
</div>

<div>
  <a routerLink="./about-us">about us</a>
</div>

<div>
  <a routerLink="./how-it-works/">How it workds</a>
</div>
<div>
  <a routerLink="./auth/login" [queryParams]="{name:'pushpraj',age:'26'}">login</a>
</div>
<div>
  <a routerLink="public/book-details/1/author/5">book details from app</a>
</div>
<router-outlet></router-outlet>


<div>
  <h1>Footer</h1>
</div>

